/* Стандартна блокова модель в сучасних проектах - це border-box. 
Для того щоб не ставити властивість box-sizing кожному елементу окремо, на самому початку файлу стилів використовується наступний CSS-код. */

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --accept-color: #434455;
}

.container {
  width: 1158px;
  background-color: crimson;
  margin-left: auto;
  margin-right: auto;
}
.container-section{
  padding-left: 156px;
  padding-right: 156px;
}
.container-header p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--accept-color);
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17; /* для визначення простору між рядками */
  letter-spacing: 0.03em; /* для визначення відступів між літерами */
  text-transform: uppercase;
  color: #4d5ae5;
}
.link {
  text-decoration: none;
}

.logo-dark {
  color: #2e2f42;
}
.logo-light {
  color: #f4f4fd;
}
.list {
  list-style: none;
}

.meny-link {
  font-family: "Roboto";
  font-style: normal; /* для прибирання курсиву */
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* letter-spacing: 0.02em; */
  color: #2e2f42;
  line-height: 1.5; /* для визначення простору між рядками */
  letter-spacing: 0.02em; /* визначення відступів між літерами */
}

.meny-link-first {
  font-family: "Roboto";
  font-style: normal; /* для прибирання курсиву */
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
  line-height: 1.5; /* для визначення простору між рядками */
  letter-spacing: 0.02em; /* визначення відступів між літерами */
}
.meny-link-first:hover,
.meny-link-first:focus {
  color: #404bbf;
}
.address-item link:hover,
.address-item link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.content-address {
  list-style: none;
}
.address-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em; /* визначення відступів між літерами */
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer; /* для визначення стилю курсору */

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  align-items: center;
  letter-spacing: 0.04em;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.advantages-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.advantages-descr {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.doing-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
}
.team-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize; /* для визначення стилю написання тексту */
  letter-spacing: 0.02em;
  line-height: 1.11;
}
.footer-text {
  color: #f4f4fd;
}

.team-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team {
  background-color: #f4f4fd;
}
.card {
  background-color: #ffffff;
  width: 264px;
  height: 380px;
}
.card-descr {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}

/* 
Portfolio */
.portfolio-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.btn-portfolio {
  width: 116px;
  height: 48px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  color: #4d5ae5;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.list {
  list-style: none;
}

.portfolio-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
}
.btn-portfolio-list{
  display: flex;
}
.portfolio-card-list{
  display: flex;
  flex-wrap: wrap;
}